
@{
    ViewBag.Title = "Site map";        
}

<h2>Available content:</h2>

<li >@Html.ActionLink("Car trip calculator", "Calculations", "Calc")</li> <!--href to Calculation page --> <!--FORMAT: Href, Action, Controller-->
<li>@Html.ActionLink("Word text parser", "TextParser", "Parser")</li> <!--href to Text parsing page -->

