
@{
    ViewBag.Title = "Trip Calc";    
}

@Scripts.Render("~/Scripts/jquery-1.10.2.js") <!--Loading Jquery-->
@Scripts.Render("~/Scripts/Calc/Calculations.js") <!--Loading Scripts-->


<h2>Trip cost calculator</h2>
<p>Calculate trip fuel cost based on distance and consumption</p>



